.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}

.no-item-msg {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}